.middle-align {
    vertical-align : middle;
}

.image-popup {
    position       : fixed;
    padding        : 5px;
    background     : #FFF;
    border         : 1px solid #DDD;
    border-radius  : 5px;
}

@font-face {
  font-family: 'Libre Barcode 128 Text';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Barcode 128 Text Regular'), local('LibreBarcode128Text-Regular'), url(../fonts/Barcode.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
